# Client
/client/node_modules/
/client/.idea/
/client/public/build/

# Kotlin Server
/server-kotlin/target/
/server-kotlin/dependency-reduced-pom.xml

# C++ Server
/server/target/

# Visual Studio
.vs/
*.user
*.filters
*.vcxproj
*.sln