@tailwind base;
@tailwind components;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {

    .text-xlss {
        font-size: 0.85rem;
    }

    .text-xls {
        font-size: 0.95rem;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mb-2 mx-auto
        bg-gray-400 hover:bg-green-600 dark:bg-gray-800
        text-green-500 hover:text-white
        hover:rounded-xl rounded-3xl
        transition-all duration-300 ease-linear
        cursor-pointer shadow-lg ;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-hr {
        @apply bg-gray-200 dark:bg-gray-800 border border-gray-200 dark:border-gray-800 rounded-full mx-2;
    }

    .top-navigation {
        @apply flex flex-row items-center justify-evenly bg-gray-300 dark:bg-gray-700 bg-opacity-90 w-full h-16 m-0 shadow-lg;
    }

    .top-navigation-icon {
        @apply text-gray-500 dark:text-gray-400 mr-3 ml-4 transition duration-300 ease-in-out hover:text-green-500 dark:hover:text-green-500 cursor-pointer;
    }

    .top-navigation-icon:first {
        @apply ml-auto mr-4;
    }

    .title-slash {
        @apply text-lg tracking-wider font-semibold text-gray-500 my-auto;
    }

    .title-text-root {
        @apply text-gray-600 dark:text-gray-400 text-center tracking-wider font-semibold text-opacity-80 ml-5 my-auto transition duration-300 ease-in-out;
    }

    .title-text {
        @apply text-xl text-gray-600 dark:text-gray-400 text-center tracking-wider font-semibold text-opacity-80 mr-auto my-auto transition duration-300 ease-in-out;
    }

    .search {
        @apply w-1/5 flex items-center justify-start bg-gray-400 dark:bg-gray-600 text-gray-500 px-2 h-9 ml-0 mr-0 rounded-md shadow-md transition duration-300 ease-in-out;
    }

    .search-input {
        @apply w-full font-sans font-semibold bg-transparent outline-none text-gray-500  placeholder-gray-500 pl-1 rounded;
    }

    .content-container {
        @apply flex flex-col bg-gray-300 dark:bg-gray-700 ml-16 min-h-screen w-full;
    }

    .content-list {
        @apply flex flex-col h-full w-full mx-auto overflow-y-scroll;
    }

    .content {
        @apply w-4/5 flex flex-col justify-start ml-auto;
    }

    .console-line {
        @apply text-gray-900 dark:text-gray-400 ml-2;
    }

    .console {
        @apply ml-5 mt-5 mb-24 block flex-grow break-words overflow-x-hidden overflow-y-auto rounded bg-white dark:bg-gray-900 shadow-lg pb-2 pt-2;
    }

    .bottom-bar {
        @apply flex flex-row items-center justify-between
        fixed left-24 right-8 bottom-8
        rounded-lg shadow-lg
        bg-gray-400 dark:bg-gray-600 px-2
        h-12;
    }

    .bottom-bar-input {
        @apply font-semibold w-full
        bg-transparent outline-none
        ml-0 mr-auto
        text-gray-500  dark:text-gray-400 placeholder-gray-500
        cursor-text;
    }

    .channel-bar {
        @apply w-80 h-auto m-0 ml-16 bg-gray-200 dark:bg-gray-800
        overflow-hidden;
    }

    .channel-container {
        @apply flex flex-col items-center justify-start
        p-1 m-0;
    }

    .channel-block {
        @apply flex items-center justify-center
        h-16
        m-0 p-0;
    }

    .channel-block-text {
        @apply text-lg tracking-wider font-bold
        text-gray-600 dark:text-gray-400
        mr-auto ml-4 my-auto align-middle;
    }

    .dropdown {
        @apply m-0 w-full px-2 pb-2
        transition duration-300 ease-in-out;
    }

    .dropdown-header {
        @apply flex flex-row items-center justify-evenly
        mx-0 text-gray-500
        cursor-pointer;
    }

    .dropdown-header-text {
        @apply text-gray-500  text-opacity-90
        text-lg font-semibold
        cursor-default;
    }

    .dropdown-header-text-selected {
        @apply text-blue-500 text-opacity-90 text-lg font-bold;
    }

    .dropdown-selection {
        @apply flex flex-row items-center justify-evenly
        mt-1 mr-auto ml-2
        transition duration-300 ease-in-out
        cursor-pointer;
    }

    .dropdown-selection-text {
        @apply text-gray-500 font-semibold tracking-wide
        mr-auto
        transition duration-300 ease-in-out
        hover:text-pink-500 dark:hover:text-gray-500
        cursor-pointer;
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ellipsis div {
        @apply bg-green-500;
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }


    .service-button-loading {
        animation: button-loading-animation 1s linear infinite;
    }

    @keyframes button-loading-animation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    body {
        @apply bg-gray-300 dark:bg-gray-700
    }

}

@tailwind utilities;

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-green-400;
}